[submodule "voices"]
	path = voices
	url = https://github.com/XnneHangLab/Static-Voices.git
[submodule "static"]
	path = static
	url = https://github.com/XnneHangLab/VtuberLabStatic.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/XnneHangLab-Mirror/Open-LLM-VTuber-Web.git
[submodule "packages/Qwen3-ASR"]
	path = packages/Qwen3-ASR
	url = https://github.com/XnneHangLab-Mirror/Qwen3-ASR.git
[submodule "packages/Genie-TTS"]
	path = packages/Genie-TTS
	url = https://github.com/XnneHangLab-Mirror/Genie-TTS.git
	branch = master
[submodule "packages/GSV-TTS-Lite"]
	path = packages/GSV-TTS-Lite
	url = https://github.com/XnneHangLab-Mirror/GSV-TTS-Lite.git
[submodule "launcher"]
	path = launcher
	url = https://github.com/XnneHangLab/XnneHangLabLauncher.git
[submodule "packages/wikimem"]
	path = packages/wikimem
	url = https://github.com/XnneHangLab/wikimem.git
